.world-container {
  height: 415px;
  width: 100vw;
  //margin-top: -100px;
  //margin-bottom: -200px;
  //z-index: -1;

  @include for-size($tablet) {
    height: 500px;
    width: 500px;
    margin-top: unset;
    margin-bottom: unset;
  }

  @include for-size($desktop) {
    height: 600px;
    width: 600px;
    margin-top: unset;
    margin-bottom: unset;
  }

  &__world {
    height: 415px;
    width: 300px;
    margin: 0 auto;
    z-index: -1;
    pointer-events: none;

    @include for-size($tablet) {
      height: 500px;
      width: 500px;
    }

    @include for-size($desktop) {
      height: 600px;
      width: 600px;
      pointer-events: unset;
    }
  }
}
