.hero {
  display: flex;
  flex-direction: column;
  margin: 80px auto 0;
  width: 100%;
  max-width: 38em;
  @include for-size($mobile, $desktop) {
    padding: 0 2rem;
  }
  h1 {
    font-family: Righteous, sans-serif;
    font-weight: 400;
    font-size: 3em;
    line-height: 59.6px;
    text-align: center;
    color: $color-text;
    margin-bottom: 0.4em;
    @include for-size($mobile, $desktop) {
      font-size: 2.7em;
    }
  }
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 30.17px;
    text-align: center;
    color: $color-text;
    @include for-size($mobile, $desktop) {
      font-size: 1.2em;
      line-height: 25.17px;
    }
  }
}